.apidoc-page {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.apidoc-page #apidoc-loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid gray;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: apidoc-spin-loader 2s linear infinite;
    margin: 40px auto;
}

@keyframes apidoc-spin-loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.apidoc-page, .apidoc-page * {
    font-family: 'Roboto';
}

.apidoc-page > * {
    height: 100%;
}

.apidoc-page .side {
    min-width: 12vw;
    background-color: #3e3e3e;
    color: white;
    width: max-content;
    overflow-y: auto;
}

.apidoc-page .side h4 {
    background-color: rgb(83, 83, 83);
    color: white;
    padding: 15px 15px;
    margin: 0;
    font-weight: normal;
}

.apidoc-page .endpoint {
    align-items: center;
}

.apidoc-page .side .endpoint {
    font-size: 14px;
    padding: 15px;
    cursor: pointer;
}

.apidoc-page .method-label {
    background-color: rgb(112, 127, 212);
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 2px;
    margin-right: 5px;
    font-size: 12px;
    color: white;
}
.apidoc-page .method-label.POST {
    background-color: rgb(149, 212, 112);
}
.apidoc-page .method-label.DELETE {
    background-color: rgb(226, 57, 57);
}
.apidoc-page .method-label.PUT {
    background-color: rgb(226, 139, 57);
}
.apidoc-page .method-label.PATCH {
    background-color: rgb(136, 57, 226);
}

.apidoc-page .side .endpoint-name {
    flex: 1;
    text-align: right;
}

.apidoc-page .content {
    flex: 1;
    background-color: whitesmoke;
    padding: 30px;
    overflow-y: auto;
}

.apidoc-page .content h4 {
    text-transform: uppercase;
    font-size: 24px;
    border-bottom: solid 1px lightgray;
}

.apidoc-page .content .endpoint-data {
    padding-bottom: 20px;
    border-bottom: dashed 1px lightgray;
    margin-bottom: 35px;
}

.apidoc-page .content .endpoint {
    font-size: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.apidoc-page .content .endpoint .endpoint-name {
    flex: 1;
}

.apidoc-page .content .endpoint .try-request {
    text-transform: uppercase;
    border: solid 1px #3e3e3e;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 5px;
    cursor: pointer;
}
.apidoc-page .content .endpoint .try-request:hover {
    background-color: #3e3e3e;
    color: white;
}

.apidoc-page .content .table {
    margin: 30px 0;
    background-color: white;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}

.apidoc-page .content .table .table-row {
    display: flex;
    align-items: stretch;
}

.apidoc-page .content .table .table-row .table-col {
    flex: 1;
    border: solid 1px lightgray;
    padding: 10px 15px;
    font-size: 15px;
}
.apidoc-page .content .table .table-row .table-col.large-col {
    flex: 2.5;
}

.apidoc-page .content .table .table-row .table-col span.required {
    color: red;
}

.apidoc-page .content .table .table-row .table-col.top-col {
    background-color: #3e3e3e;
    color: white;
}

.apidoc-page .content .response-preview {
    background-color: #3e3e3e;
    color: white;
    padding: 30px;
    font-family: monospace;
    white-space: pre-wrap;
}

/* LAUNCHER */

.apidoc-page #apidoc-launcher {
    position: fixed;
    z-index: 50;
    background-color: rgba(0,0,0,.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.apidoc-page #apidoc-launcher .apidoc-launcher-content {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    min-height: 60%;
    min-width: 70%;
    max-height: 80%;
    overflow-y: auto;
}

.apidoc-page #apidoc-launcher .apidoc-launcher-content .endpoint {
    display: flex;
    align-items: center;
}

.apidoc-page #apidoc-launcher .apidoc-launcher-content .endpoint .endpoint-name {
    flex: 1;
    padding: 3px 5px;
    border-bottom: solid 1px lightgray;
}

.apidoc-page #apidoc-launcher .apidoc-launcher-content .endpoint .run-request {
    color: white;
    background-color: #4e4e4e;
    cursor: pointer;
    padding: 3px 10px;
    border-radius: 4px;
    font-size: 14px;
}
.apidoc-page #apidoc-launcher .apidoc-launcher-content .endpoint .run-request:hover {
    background-color: #2e2e2e;
}
.apidoc-page #apidoc-launcher .apidoc-launcher-content .endpoint .closer {
    margin-left: 10px;
    font-weight: bold;
    transform: scaleY(0.8);
    cursor: pointer;
}

.apidoc-page #apidoc-launcher .apidoc-launcher-content .parameters {
    margin-bottom: 20px;
}
.apidoc-page #apidoc-launcher .apidoc-launcher-content .parameters .parameter-row {
    display: flex;
}
.apidoc-page #apidoc-launcher .apidoc-launcher-content .parameters .parameter-row > * {
    flex: 1;
}
.apidoc-page #apidoc-launcher .apidoc-launcher-content .parameters .parameter-row input {
    width: 100%;
    padding: 5px;
}
.apidoc-page #apidoc-launcher .apidoc-launcher-content .response {
    background-color: #3e3e3e;
    color: white;
    padding: 20px;
    font-size: 14px;
    white-space: pre;
}